<h3>Ajouter une PlayList</h3>
<form>
<div class="form-group row">
  <label for="NomPlayList" class="col-xs-4 col-md-2 col-form-label">NomPlayList  : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="NomPlayList" [(ngModel)]="playlist.nomPlayList" required="">
  </div>
</div>


<div class="form-group row">
  <label for="NomCreateur" class="col-xs-4 col-md-2 col-form-label">NomCreateur : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="NomCreateur" [(ngModel)]="playlist.nomCreateur" required="">
  </div>
</div>


<div class="form-group row">
  <label for="Caractere" class="col-xs-4 col-md-2 col-form-label">Caractere : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="Caractere" [(ngModel)]="playlist.caractere" required="">
  </div>
</div>

<!--
<div class="form-group row">
  <label for="listMorceau" class="col-xs-4 col-md-2 col-form-label">listMorceau : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="listMorceau" [(ngModel)]="playlist.listMorceau">
  </div>
</div>

<div class="form-group row">
  <label for="listContributeur" class="col-xs-4 col-md-2 col-form-label">nomContributeur : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="listContributeur" [(ngModel)]="playlist.nomContributeur">
  </div>
</div>
 -->

<button class="btn btn-primary"  (click)="valid()" routerLink="/lister">GO!</button>
  <!--
<button class="btn btn-primary"  [routerLink]="valid() ? ['/lister'] : []" >TO!</button>
<button class="btn btn-primary" disabled="valid()" routerLink="/lister">BO!</button>
<br>
-->

</form>
TEST :
<pre>{{playlist | json}}</pre>
