button.tri{
  width: 100%;
  background: linear-gradient(#7e7e7e, #535353);
  color: white;
  border: none;
}
th {
  position: relative;
}
div.sort-buttons {
  position: absolute;
  right: 0;
  top: 10px;
}
i.sort {
  background: linear-gradient(#535353, #7e7e7e);
  color: white;
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
i.sort:hover {
  background: linear-gradient(#7e7e7e, #535353);
  color: #1db954;
}

i.detailler {
  background-color: 	#1db954;
}
i.detailler:hover {
  background-color: #0f8338;
}

i.modifier {
  background-color: #bebebe;
}
i.modifier:hover {
  background-color: #e2e2e2;
}

i.supprimer {
  background-color: #ec8080;
  color: white;
}
i.supprimer:hover {
  background-color: #d65151;
}
div.buttons {
  display: flex;
  justify-content: center;
}
.button-history, .button-research {
  margin: 10px;
  padding: 10px 20px;
  background-color: #1db954;
  border: none;
  border-radius: 80px 5px 80px 5px;
}
.button-history:hover, .button-research:hover{
  background-color: #121212;
  color: #1db954;
}
table.historique-table {
  align-content: center;
  width: 100%;
}
td.historique-keyword {
  width: 150%;
}
td.historique-action {
  width: 50%;
}
div.top-content {
  padding: 40px;
  border-radius: 5px 80px 5px 80px;
  background: linear-gradient(#7e7e7e, #535353);
  box-shadow: 7px 10px 5px rgba(12, 12, 12, 0.5);
}
input {
  border-radius: 0 20px 0 20px;
}

/*MODAL*/
div.modal-content {
  border-radius: 30px 5px 80px 5px;
  background: linear-gradient(#7e7e7e, #535353);
  color: white;
}
h5 {
  color: white !important;
  font-weight: bold !important;
}

div.modal-footer {
  display: flex;
  align-content: center;
  justify-content: center;
}
h1 {
  background: linear-gradient(#7e7e7e, #535353);
  box-shadow: 7px 10px 5px rgba(12, 12, 12, 0.5);
  border-radius: 50px;
  padding: 10px;
  color: #1db954;
  text-align: center;
}
span.error {
  border-radius: 5px 80px 5px 80px;
  box-shadow: 7px 10px 5px rgba(12, 12, 12, 0.5);
  background-color: #b84343;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
span {
  display: none;
}
.error  {
  animation-duration: 1.5s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}
