<div class="row mt-5 mb-5">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <label for="rechercheNom" class="form-label"> Nom d'utilisateur :</label>
    <input type="text" class="form-control" id="rechercheNom" placeholder="Recherche par nom d'utilisateur">
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12">
    <label for="rechercheStryle" class="form-label"> Style de musique :</label>
    <input type="text" class="form-control" id="rechercheStyle" placeholder="Recherche par style de musique">
  </div>
</div>
