<h1 class=" mt-3 mb-3">Recherche de playlist</h1>

<div class="row mt-2 mb-5 top-content">
  <div class="col-md-4 col-lg-4 col-sm-12">
    <input type="text" class="form-control" id="rechercheNom" placeholder="Nom de la playlist ..."
           [(ngModel)]="nomPlayList">
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12">
    <input type="text" class="form-control" id="rechercheCreateur" placeholder="Nom du créateur ..."
           [(ngModel)]="nomCreateur">
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12">
    <input type="text" class="form-control" id="rechercheStyle" placeholder="Style de musique ..."
           [(ngModel)]="caractere">
  </div>
  <div class="buttons">
    <button class="btn btn-dark button-history" data-bs-toggle="modal" data-bs-target="#modalHistorique"><i class="fas fa-history"></i> Historique</button>
    <button (click)="onClickSearch()" class="btn btn-dark button-research" id="rechercheButton"><i class="fas fa-search"></i> Rechercher</button>
  </div>

  <span class="" id="error">Veuillez remplir au moins un de ces 3 champs</span>

</div>
<table class="table mb-3">
  <thead>

  <tr>
    <th>ID</th>
    <th>PlayList
      <div class="sort-buttons">
        <i class="fas fa-chevron-up sort" (click)="sortNom()"></i>
        <i class="fas fa-chevron-down sort" (click)="sortNomInverse()"></i>
      </div>
    </th>
    <th>Créateur</th>
    <th>Style
      <div class="sort-buttons">
        <i class="fas fa-chevron-up sort" (click)="sortStyle()"></i>
        <i class="fas fa-chevron-down sort" (click)="sortStyleInverse()"></i>
      </div>
    </th>
    <th>Nombre de clic
      <div class="sort-buttons">
        <i class="fas fa-chevron-up sort" (click)="sortNbClic()"></i>
        <i class="fas fa-chevron-down sort" (click)="sortNbClicInverse()"></i>
      </div>
    </th>
    <th>Détailler</th>
    <th>Modifier</th>
    <th>Supprimer</th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let playlist of this.result; index as i">
    <td>{{playlist.idPlayList}}</td>
    <td>{{playlist.nomPlayList}}</td>
    <td>{{playlist.nomCreateur}}</td>
    <td>{{playlist.caractere}}</td>
    <td>{{playlist.nbClic}}</td>
    <td>
      <i class="fa fa-search-plus btn detailler" routerLink="/details/{{playlist.idPlayList}}"></i>
    </td>
    <td>
      <i class="fa fa-plus-circle btn modifier" routerLink="/edit/{{playlist.idPlayList}}"></i>
    </td>
    <td>
      <i class="fa fa-trash btn supprimer" data-bs-toggle="modal" [attr.data-bs-target]="'#modal'+playlist.idPlayList"></i>

      <!-- Modal Supression -->
      <div class="modal fade" [attr.id]="'modal'+playlist.idPlayList" tabindex="-1" aria-labelledby="deleteModalAria" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalAria">⚠ Attention</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Êtes vous sûr de vouloir supprimer la playlist <b>"{{playlist.nomPlayList}}"</b>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-danger" (click)="delete(playlist.idPlayList)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>

    </td>
  </tr>
  </tbody>
</table>


<!-- Modal Historique -->
<div class="modal fade" id="modalHistorique" tabindex="-1" aria-labelledby="ModalAriaHistorique" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalAriaHistorique">Historique de recherche</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <table class="table text-light">
          <thead>
            <tr>
              <th>Mot-clé</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of historylist; let key = index">
              <td class="historique-keyword">{{item}}</td>
              <td>
                <button
                  class="btn btn-danger historique-action" (click)="deletehistory(key)">x
                </button>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>

