button.tri{
  width: 100%;
  background-color: grey;
  color: white;
  border: none;
}
th {
  position: relative;
}
div.sort-buttons {
  position: absolute;
  right: 0;
  top: 10px;
}
i.sort {
  background-color: #c6c6c6;
  color: white;
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
i.sort:hover {
  background-color: #535353;
  color: #1db954;
}

i.detailler {
  background-color: 	#1db954;
}
i.detailler:hover {
  background-color: #0f8338;
}

i.modifier {
  background-color: #bebebe;
}
i.modifier:hover {
  background-color: #e2e2e2;
}

i.supprimer {
  background-color: #ec8080;
  color: white;
}
i.supprimer:hover {
  background-color: #d65151;
}
div.buttons {
  display: flex;
  justify-content: center;
}
.button-history, .button-research {
  margin: 10px;
  padding: 10px 20px;
  background-color: #1db954;
  border: none;
  border-radius: 80px 5px 80px 5px;
}
.button-history:hover, .button-research:hover{
  background-color: #121212;
  color: #1db954;
}
table.historique-table {
  align-content: center;
  width: 100%;
}
td.historique-keyword {
  width: 150%;
}
td.historique-action {
  width: 50%;
}
div.top-content {
  padding: 40px;
  border-radius: 5px 80px 5px 80px;
  background-color: #535353;
  box-shadow: 7px 10px 5px rgba(12, 12, 12, 0.5);
}
input {
  border-radius: 0 20px 0 20px;
}

/*MODAL*/
div.modal-content {
  border-radius: 30px 5px 80px 5px;
  background-color: #535353;
  color: white;
}
h5 {
  color: white !important;
  font-weight: bold !important;
}

div.modal-footer {
  display: flex;
  align-content: center;
  justify-content: center;
}
