<div class="row mt-5 mb-5">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <label for="rechercheNom" class="form-label"> PlayList Name :</label>
    <input type="text" class="form-control" id="rechercheNom" placeholder="Recherche par PlayList Name" [(ngModel)]="nomPlayList">
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12">
    <label for="rechercheStyle" class="form-label"> Music Style  :</label>
    <input type="text" class="form-control" id="rechercheStyle" placeholder="Recherche par Music Style" [(ngModel)]="caractere">
  </div>
  <div><button (click)="doSearch()">Search</button></div>
  <div class="col-xs-2 col-md-2"><i class="fa fa-arrow-circle-right" routerLink="/details/:idPlayList"></i></div>

  <hr>
  <ul>
    <li style="list-style-type:none;" *ngFor="let item of historylist; let key = index">{{item}}<button class="btn btn-danger col-sm-1" (click)="deletehistory(key)">x</button></li>
  </ul>
</div>
// Hi Toki :
Est-ce que tu pourrais mettre la liste histoire (le boutton aussi) plus jolie stp^^
