<h1 class="align-self-center">Mes playlist</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th class="">ID Playlist</th>
    <th class="">Nom</th>
    <th class="">Créateur</th>
    <th class="">Détailler</th>
    <th class="">Ajouter</th>
    <th class="">Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let playlist of this.playlist; index as i">
    <td>{{playlist.idPlayList}}</td>
    <td>{{playlist.nomPlayList}}</td>
    <td>{{playlist.nomCreateur}}</td>
    <td>
      <i class="fa fa-search-plus" routerLink="/details/{{playlist.nomPlayList}}"></i>
    </td>
    <td>
      <i class="fa fa-search-plus" routerLink="/details/{{playlist.nomPlayList}}"></i>
    </td>
    <td>
      <i class="fa fa-search-plus" routerLink="/details/{{playlist.nomPlayList}}"></i>
    </td>

  </tr>
  </tbody>
</table>
