<h1 class="align-self-center mt-3 mb-3">Play List</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th class="">#</th>
  <!--  <th class="">ID Playlist</th> -->
    <th class="">ID</th>
    <th class="">PlayList</th><!-- le nom du playlist-->
    <th class="">Créateur</th>
    <th class="">Style</th>
    <th class="">nbClic</th>
    <th class="">Détailler</th>
    <th class="">Edit</th>
    <th class="">Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let playlist of this.playlist; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{playlist.idPlayList}}</td>
    <td>{{playlist.nomPlayList}}</td>
    <td>{{playlist.nomCreateur}}</td>
    <td>{{playlist.caractere}}</td>
    <td>{{playlist.nbClic}}</td>
    <td>
      <i class="fa fa-search-plus" routerLink="/details/{{playlist.idPlayList}}"></i>
    </td>
    <td>
      <i class="fa fa-plus-circle" routerLink="/details/{{playlist.idPlayList}}"></i>
    </td>
    <td>
      <i class="fa fa-trash" routerLink="/details/{{playlist.idPlayList}}"></i>
    </td>

  </tr>
  </tbody>
  <button (click)="sortnbClic()">nbCLic</button>
</table>
