<!-- Team -->
<section class="pb-5">
  <div class="container">
    <h5 class="section-title h1">L'Équipe derrière ce projet</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://media-exp1.licdn.com/dms/image/C5603AQE4euWAScNlHQ/profile-displayphoto-shrink_800_800/0/1592817449303?e=1623888000&v=beta&t=32N6ZNjPZvZIl37uI2yEwIGr-vW9Olx1ijV-dHD-6Ys" alt="card image"></p>
                  <h4 class="card-title">Enki</h4>
                  <p class="card-text"></p>
                  <a class="btn btn-warning btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Stagiaire - Développeur web</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="http://toulouse.miage.fr/index.php">
                        <i class="fas fa-graduation-cap"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="mailto:enki.isambert@toulouse.miage.fr">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/enki-isambert-9a7b02122/">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member --> <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://media-exp1.licdn.com/dms/image/C4D03AQHkyYz6AB2Tvg/profile-displayphoto-shrink_800_800/0/1542564968992?e=1623888000&v=beta&t=5may2uEYdNr91YyHWYWeuuEOoyANXUVYMGeBKhuRt34" alt="card image"></p>
                  <h4 class="card-title">Jin</h4>
                  <p class="card-text"></p>
                  <a class="btn btn-warning btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jin WANG</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="http://toulouse.miage.fr/index.php">
                        <i class="fas fa-graduation-cap"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="mailto:jin.wang@toulouse.miage.fr">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/jin-wang-64b560134/">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://media-exp1.licdn.com/dms/image/C4E03AQFmvtrozRyWgg/profile-displayphoto-shrink_800_800/0/1605058474798?e=1623888000&v=beta&t=phg0iJM2zmb68tIFnAsspRQMHxFXKwsh_vvuMu4wZHY" alt="card image"></p>
                  <h4 class="card-title">Toky</h4>
                  <p class="card-text"></p>
                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-warning btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Stagiaire - Développeur web junior (Symfony)</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="http://toulouse.miage.fr/index.php">
                        <i class="fas fa-graduation-cap"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="mailto:tokiniriana.rabearivelo@toulouse.miage.fr">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/toky99/">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->


    </div>

    <!--MAP-->
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.140160614308!2d1.4677512158353392!3d43.56196246634307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc3b219e54c9%3A0xbfa01c91f63e6468!2sUniversit%C3%A9%20Toulouse%20III%20-%20Paul%20Sabatier!5e0!3m2!1sfr!2sfr!4v1618147593913!5m2!1sfr!2sfr" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <!--FIN MAP-->
  </div>
</section>
<!-- Team -->
