<div class="details">
  <h3>Playlist <b>"{{playlist.nomPlayList}}"</b></h3>
  <div class="info row">
    <div class="col-md-6">
      <p><u>Créateur</u> : <b>{{playlist.nomCreateur}}</b></p>
      <p><u>Style de musique</u> : <b>{{playlist.caractere}}</b></p>
    </div>
    <div class="col-md-6">
      <p><u>Identifiant</u> : <b>{{playlist.idPlayList}}</b></p>
      <p><u>Nombre de clic</u> : <b>{{playlist.nbClic}}</b></p>
    </div>
  </div>

  <div class="liste-morceau">
    <table class="table">
      <thead>
        <tr>
          <th>Liste des morceaux</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playlist of playlist.listMorceau">
          <td>{{playlist}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="liste-contributeur">
    <table class="table">
      <thead>
      <tr>
        <th>Liste des contributeurs</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let playlist of playlist.listContributeur">
        <td>{{playlist}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <button routerLink="/lister"><i class="fas fa-backward"></i> Retour</button>

</div>


