<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div *ngFor="let playlist of this.playlist; index as i">
          <h5>{{playlist.nomPlayList}}</h5>
          <h5>{{playlist.nomCreateur}}</h5>
          <p class="card-text">
            {{playlist.listMorceau}}
            <br/>
          <p><i>{{playlist.listContributeur}}</i></p>
          <p><i>{{playlist.caractere}}</i></p>
          <p><i>{{playlist.nbClic}}</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
