<div class="row">
  <div class="col-12 mt-3 mb-3">
    <div class="card">
      <div class="card-body">
     <!--   <div *ngFor="let playlist of this.playlist; index as i">  -->

          <h5>idPlayList : {{playlist.idPlayList}}</h5>
          <h5>nomPlayList : {{playlist.nomPlayList}}</h5>
          <h5>nomCreateur : {{playlist.nomCreateur}}</h5>
          <p class="card-text">listMorceau :
            {{playlist.listMorceau}}
            <br/>
          <p><i>listContributeur : {{playlist.listContributeur}}</i></p>
          <p><i>caractere : {{playlist.caractere}}</i></p>
          <p><i>nbClic : {{playlist.nbClic}}</i></p>
        </div>
      </div>
    </div>
  </div>
<button routerLink="/lister">Back</button>
