<div class="row">
  <div class="col-12 mt-3 mb-3">
    <button class="btn btn-dark col-3" routerLink="splash">Menu</button>
    <button class="btn btn-dark col-3" routerLink="lister">PlayList</button>
    <button class="btn btn-dark col-3" routerLink="ajouter">Detail</button>
    <button class="btn btn-dark col-3" routerLink="rechercher">Find</button>
  </div>
</div>
<div>
  <div class="col-12">
    <!--<img src="assets/gaoyinpuhao.jpg">
    <app-lister-playlist></app-lister-playlist>
    <app-detail-playlist></app-detail-playlist>
    <app-ajouter-playlist></app-ajouter-playlist>
    <app-splash></app-splash>
    <app-recherche-playlist></app-recherche-playlist>
    -->
    <router-outlet></router-outlet>
  </div>
</div>
