<div class="row">
    <div class="col-12 mt-3">
    <button class="btn btn-dark col-3">Menu</button>
    <button class="btn btn-dark col-3">PlayList</button>
    <button class="btn btn-dark col-3">Detail</button>
    <button class="btn btn-dark col-3">Contact</button>
  </div>
</div>
  <div>
  <div class="col-12">
    <!--<img src="assets/gaoyinpuhao.jpg">-->
    <app-lister-playlist></app-lister-playlist>
    <app-detail-playlist></app-detail-playlist>
    <app-ajouter-playlist></app-ajouter-playlist>
  </div>
  </div>
