<div class="add-music">
<h3>Ajouter un nouveau Morceau</h3>
<div class="inputs">
    <input type="text" class="form-control" id="Titre" [(ngModel)]="morceau.titre" placeholder="Titre du morceau ...">
    <input type="text" class="form-control" id="Artiste" [(ngModel)]="morceau.artiste" placeholder="Nom de l'artiste ...">
</div>

<button class="btn btn-primary" (click)="valid()" routerLink="/listermorceau">
  <i class="fas fa-plus-square"></i>
  Ajouter</button>

<datalist id=browsers >
  <option> Google
  <option> IE9
</datalist>

</div>
