<div class="row">
  <div class="col-12 mt-3 mb-3">
    <div class="card">
      <div class="card-body">

        <h5>idPlayList : {{playlist.idPlayList}}</h5>
        <h5>nomPlayList : {{playlist.nomPlayList}}</h5>
        <h5>nomCreateur : {{playlist.nomCreateur}}</h5>
        <p class="card-text">listMorceau :
          {{playlist.listMorceau}}
          <br/>
        <p><i>listContributeur : {{playlist.listContributeur}}</i></p>
        <p><i>caractere : {{playlist.caractere}}</i></p>
        <p><i>nbClic : {{playlist.nbClic}}</i></p>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <label for="nomUser" class="col-xs-4 col-md-2 col-form-label">User Name : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="nomUser" [(ngModel)]="newcontributor">
  </div>
</div>

<!--
<label for="morceau-select">Morceau : </label>
<select name="morceau" id="morceau-select">
  <option value="">--Please choose a music--</option>
  <option *ngFor="let morceau of this.morceauList;">{{morceau.titre}}</option>
</select>


<table>
  <tr *ngFor="let morceau of this.morceauList;">
    <td>{{morceau.titre}}</td>
    <td>{{morceau.artiste}}</td>
    <td>le truc qu'il faudra cliquer </td>
  </tr>
</table>
-->
<form action="" method="get">
  Liste des Morceaux: <br/>
  <table>
    <thead>
    <tr>
      <th>Titre</th>
      <th>Artiste</th>
    </tr>
    </thead>
    <tr *ngFor="let morceau of this.morceauList;">
      <td>
        <label><input name="Morceau" type="radio" value="{{morceau.titre}}" [(ngModel)]="newtitle"/> {{morceau.titre}}</label>
      </td>
      <td>
        {{morceau.artiste}}
      </td>
    </tr>
  </table>
  <button (click)="ajouterContributorTitle(playlist.idPlayList)">Ajouter Morceau</button>
</form>


<br>
<button routerLink="/lister">Back</button>


<!--
<label for="artiste-select">artiste : </label>
<select name="morceau" id="artiste-select">
  <option value="">--Please choose an artist--</option>
  <option *ngFor="let morceau of this.morceauList;">{{morceau.artiste}}</option>
</select>

<table>
  <th>Music</th>
  <tr *ngFor="let morceau of this.morceauList;">{{morceau.titre}}</tr>
</table>
-->
