<form action="" method="get">
  Liste des Morceaux: <br/>
  <table>
    <thead>
    <tr>
      <th>Titre</th>
      <th>Artiste</th>
    </tr>
    </thead>
    <tr *ngFor="let morceau of this.morceauList;">
      <td>
        <label><input name="Morceau" type="radio" value="{{morceau.idMorceau}}" [(ngModel)]="idMusic" /> {{morceau.titre}}</label>
      </td>
      <td>
        {{morceau.artiste}}
      </td>
    </tr>
  </table>
  <button (click)="ajouterContributorTitle(playlist.idPlayList)">Ajouter Morceau</button>
</form>

<div class="add-music">
  <h3>Ajouter un nouveau morceau à "<u>{{playlist.nomPlayList}}</u>"</h3>
  <div class="inputs">
    <input type="text" class="form-control inputs" id="nomUser" [(ngModel)]="newcontributor" placeholder="Nom du contributeur ...">
  </div>

  <div class="liste-morceau">
    <p>Veuillez choisir un morceau à rajouter</p>
    <label>
      <select name="morceau" [(ngModel)]="idMusic" class="inputs">
        <option  *ngFor="let morceau of this.morceauList" [value]="morceau.idMorceau">
          {{morceau.titre}} --> {{morceau.artiste}}
        </option>
      </select>
    </label>
  </div>

  <div class="button">
    <button routerLink="/lister"><i class="fas fa-backward"></i> Retour</button>
    <button (click)="ajouterContributorTitle(playlist.idPlayList)"><i class="fas fa-plus-square"></i> Ajouter</button>
  </div>

  <span class="" id="error">Veuillez remplir les champs</span>

</div>
